{%extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        table {
              border:20 px;
              padding: 30px;
        }
        th{
            border: 20 px;
            padding: 20 px;
            text-decoration: overline;
        }
    </style>
</head>
<body bgcolor="pink">
   <div>
    Hello
    this is html
   </div>
   <table>
    
    <tr>
        <th>S.N</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Binay Rijal</th>
        <th>Hasanapur</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Suman Sharma</th>
        <th>Bareng</th>
    </tr>
    <tr>
        <th>3</th>
        <th>Yubraj Adhikari</th>
        <th>Thada</th>
    </tr>
   </table>
</body>
</html>
{%endblock%}